.link {
  stroke: #000;
}

.node {
  stroke: #fff;
}

.title {
  font: bold 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.tooltip { 
  position: absolute;     
  text-align: center;             
  padding: 3px;
  color: white;       
  font: 6px sans-serif;    
  background: black;  
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;     
}